@model OOP.Domain.ViewModel.EmployeesInProject.EmployeeInProjectViewModel

<h2>Employee in Project Details</h2>

@if (Model != null)
{
    <dl class="row">
        <dt class="col-sm-2">Assignment ID</dt>
        <dd class="col-sm-10">@Model.assignment_id</dd>

        <dt class="col-sm-2">Project ID</dt>
        <dd class="col-sm-10">@Model.project_id</dd>

        <dt class="col-sm-2">Employee ID</dt>
        <dd class="col-sm-10">@Model.employee_id</dd>

        <dt class="col-sm-2">Role ID</dt>
        <dd class="col-sm-10">@Model.role_id</dd>
    </dl>
}
else
{
    <p>Employee in Project not found.</p>
}
